/WebAppConsumer/.vs/WebAppPublisherSubscriber/v15/*.*
/WebAppConsumer/bin/
/WebAppConsumer/obj/
/WebAppConsumer/WebAppConsumer/bin/
/WebAppConsumer/WebAppConsumer/obj/
/WebAppConsumer/.vs/WebAppPublisherSubscriber/v15/Server/sqlite3/db.lock
